name: Build and Test Web

on:
  pull_request:
    branches:
      - main
    paths:
      - "web/**"
      - '.github/workflows/build-and-test-web.yml'
      - '.github/workflows/actions/build-web/**'

  push:
    branches:
      - main
    paths:
      - "web/**"

  workflow_dispatch:

env:
  WORKING_DIRECTORY: ./web

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    permissions:
      packages: read

    strategy:
      matrix:
        node-version: [22]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Building Web codebase
        uses: ./.github/workflows/actions/build-web
        with:
          working_directory: ${{ env.WORKING_DIRECTORY }}
          node_version: ${{ matrix.node-version }}
