name: Build and Test Web

on:
  pull_request:
    branches:
      - main

  push:
    branches:
      - main
    paths:
      - "web/**"

  workflow_dispatch:

env:
  WORKING_DIRECTORY: ./web

jobs:
  check-changes:
    name: Check for Web changes
    runs-on: ubuntu-latest
    outputs:
      web-changed: ${{ steps.filter.outputs.web }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Check for file changes
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            web:
              - 'web/**'
              - '.github/workflows/build-and-test-web.yml'
              - '.github/workflows/actions/build-web/**'

  build-and-test:
    name: Build and Test Web (Node ${{ matrix.node-version }})
    needs: check-changes
    if: needs.check-changes.outputs.web-changed == 'true'
    runs-on: ubuntu-latest
    permissions:
      packages: read

    strategy:
      matrix:
        node-version: [22]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Building Web codebase
        uses: ./.github/workflows/actions/build-web
        with:
          working_directory: ${{ env.WORKING_DIRECTORY }}
          node_version: ${{ matrix.node-version }}

  success:
    name: Build and Test Web
    needs: [check-changes, build-and-test]
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Check status
        run: |
          if [[ "${{ needs.check-changes.outputs.web-changed }}" == "false" ]]; then
            echo "No Web changes detected - skipping build"
            exit 0
          elif [[ "${{ needs.build-and-test.result }}" == "success" ]]; then
            echo "Build and tests passed"
            exit 0
          else
            echo "Build or tests failed"
            exit 1
          fi
