name: Build and Test API

on:
  pull_request:
    branches:
      - main
    paths:
      - 'api/**'
      - 'db/**'
      - '.github/workflows/build-and-test-api.yml'
      - '.github/workflows/actions/build-api/**'

  push:
    branches:
      - main
    paths:
      - 'api/**'
      - 'db/**'

  workflow_dispatch:

env:
  WORKING_DIRECTORY: .

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    permissions:
      packages: read

    strategy:
      matrix:
        dotnet-major-version: [10]
        dotnet-minor-version: [0]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Building API codebase
        uses: ./.github/workflows/actions/build-api
        with:
          working_directory: ${{ env.WORKING_DIRECTORY }}
          dotnet_version: ${{ matrix.dotnet-major-version }}.${{ matrix.dotnet-minor-version }}
